# Virtual Environment
voice-agent/

# Environment variables
.env
.env.*

# Python caches and compiled files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/


Data/

venv/

code understanding/

# Local embedding model binaries
embedding_models/